.react-tabs {
  -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
  margin: 0 0 10px;
  padding: 0;
}

.react-tabs__tab {
  font-size: 1.2em;
  letter-spacing: 1px;
  font-weight: 500;
  display: inline-block;
  border-bottom: 2px solid transparent;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 7px 3em;
  cursor: grabbing;
  color: #ff5a5f;
}

.react-tabs__tab--selected {
  background: #fff;
  border-color: #00bbbb;
  color: #00bbbb;
  font-size: 1.5em;
  font-weight: 600;
}

.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}

.react-tabs__tab:focus {
  box-shadow: 0 0 5px hsl(208, 99%, 50%);
  border-color: hsl(208, 99%, 50%);
  outline: none;
}

.react-tabs__tab:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}
